In [2]:
transactions =[
    ["milk", "bread", "eggs"],
    ["milk", "bread", "butter"],
    ["milk", "bread", "eggs", "butter"],
    ["bread", "eggs"],
    ["milk", "butter"]
]

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [4]:
tranE= TransactionEncoder()

In [5]:
tranE.fit(transactions).columns_

['bread', 'butter', 'eggs', 'milk']

In [6]:
encodedT=tranE.fit_transform(transactions)

In [7]:
encodedT

array([[ True, False,  True,  True],
       [ True,  True, False,  True],
       [ True,  True,  True,  True],
       [ True, False,  True, False],
       [False,  True, False,  True]])

In [8]:
df=pd.DataFrame(encodedT, columns=tranE.columns_)

In [9]:
df

   bread  butter   eggs   milk
0   True   False   True   True
1   True    True  False   True
2   True    True   True   True
3   True   False   True  False
4  False    True  False   True

In [10]:
from mlxtend.frequent_patterns import apriori
freqItemsets=apriori(df,min_support=0.12,use_colnames=True)

In [11]:
freqItemsets

    support                     itemsets
0       0.8                      (bread)
1       0.6                     (butter)
2       0.6                       (eggs)
3       0.8                       (milk)
4       0.4              (bread, butter)
5       0.6                (bread, eggs)
6       0.6                (bread, milk)
7       0.2               (butter, eggs)
8       0.6               (butter, milk)
9       0.4                 (eggs, milk)
10      0.2        (bread, butter, eggs)
11      0.4        (bread, butter, milk)
12      0.4          (bread, eggs, milk)
13      0.2         (butter, eggs, milk)
14      0.2  (bread, butter, eggs, milk)

In [12]:
from mlxtend.frequent_patterns import association_rules
rules= association_rules(freqItemsets,metric="confidence",min_threshold=0.7)

In [13]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(bread),(eggs),0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1.000000
1,(eggs),(bread),0.6,0.8,0.6,1.00,1.250000,0.12,inf,0.500000
2,(bread),(milk),0.8,0.8,0.6,0.75,0.937500,-0.04,0.8,-0.250000
3,(milk),(bread),0.8,0.8,0.6,0.75,0.937500,-0.04,0.8,-0.250000
4,(butter),(milk),0.6,0.8,0.6,1.00,1.250000,0.12,inf,0.500000
5,(milk),(butter),0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1.000000
6,"(butter, eggs)",(bread),0.2,0.8,0.2,1.00,1.250000,0.04,inf,0.250000
7,"(bread, butter)",(milk),0.4,0.8,0.4,1.00,1.250000,0.08,inf,0.333333
8,"(eggs, milk)",(bread),0.4,0.8,0.4,1.00,1.250000,0.08,inf,0.333333
9,"(butter, eggs)",(milk),0.2,0.8,0.2,1.00,1.250000,0.04,inf,0.250000
10,"(bread, butter, eggs)",(milk),0.2,0.8,0.2,1.00,1.250000,0.04,inf,0.250000
11,"(butter, eggs, milk)",(bread),0.2,0.8,0.2,1.00,1.250000,0.04,inf,0.250000
12,"(butter, eggs)","(bread, milk)",0.2,0.6,0.2,1.00,1.666667,0.08,inf,0.500000

In [14]:
limitedCol=rules[['antecedents','consequents','support','confidence','lift']]

In [15]:
limitedCol

              antecedents    consequents  support  confidence      lift
0                 (bread)         (eggs)      0.6        0.75  1.250000
1                  (eggs)        (bread)      0.6        1.00  1.250000
2                 (bread)         (milk)      0.6        0.75  0.937500
3                  (milk)        (bread)      0.6        0.75  0.937500
4                (butter)         (milk)      0.6        1.00  1.250000
5                  (milk)       (butter)      0.6        0.75  1.250000
6          (butter, eggs)        (bread)      0.2        1.00  1.250000
7         (bread, butter)         (milk)      0.4        1.00  1.250000
8            (eggs, milk)        (bread)      0.4        1.00  1.250000
9          (butter, eggs)         (milk)      0.2        1.00  1.250000
10  (bread, butter, eggs)         (milk)      0.2        1.00  1.250000
11   (butter, eggs, milk)        (bread)      0.2        1.00  1.250000
12         (butter, eggs)  (bread, milk)      0.2        1.00  1.666667

In [16]:
limitedCol[limitedCol['confidence']>=1]

              antecedents    consequents  support  confidence      lift
1                  (eggs)        (bread)      0.6         1.0  1.250000
4                (butter)         (milk)      0.6         1.0  1.250000
6          (butter, eggs)        (bread)      0.2         1.0  1.250000
7         (bread, butter)         (milk)      0.4         1.0  1.250000
8            (eggs, milk)        (bread)      0.4         1.0  1.250000
9          (butter, eggs)         (milk)      0.2         1.0  1.250000
10  (bread, butter, eggs)         (milk)      0.2         1.0  1.250000
11   (butter, eggs, milk)        (bread)      0.2         1.0  1.250000
12         (butter, eggs)  (bread, milk)      0.2         1.0  1.666667

In [17]:
from mlxtend.frequent_patterns import fpgrowth
%timeit fpgrowth(df,min_support=0.12,use_colnames=True)
%timeit apriori(df,min_support=0.12,use_colnames=True)

824 μs ± 33.7 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)
2.31 ms ± 148 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)